﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Bobel";src:url("Bobel_font_by_pitters.eot?") format("eot"),url("Bobel_font_by_pitters.woff") format("woff"),url("Bobel_font_by_pitters.ttf") format("truetype"),url("Bobel_font_by_pitters.svg#Bobel") format("svg");font-weight:normal;font-style:normal;}
