//----------------------------------------------------------------------------
// alerts.scss
//----------------------------------------------------------------------------

// ---------------------------------------------------------------------------
// GRADIENTS AND TEXTURES

@mixin defaultAlert
{
	@include background-image(linear-gradient(top,  lighten($grayLighter, 10%) 0%, $grayLighter 100%));
	border-color: $grayLighter;
	color: $gray;
}

@mixin info
{
	@include background-image(linear-gradient(top,  lighten($infoColor, 16%) 0%, $infoColor 100%));
	border-color: $infoColor;
	color: shade($infoColor, 60%);
}

@mixin success
{
	@include background-image(linear-gradient(top,  lighten($successColor, 10%) 0%, $successColor 100%));
	border-color: $successColor;
	color: shade($successColor, 60%);
}

@mixin warning
{
	@include background-image(linear-gradient(top,  lighten($warningColor, 10%) 0%, $warningColor 100%));
	border-color: $warningColor;
	color: shade($warningColor, 60%);
}

@mixin stripedWarning
{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARUlEQVQYV2P8/3rmfwZ8QAQiyYhXIVQRfoVIihje4DIRTRF2E7EowlSIQxGqQjyKEAoJKIIo/I8UjkDf4QIIhXgUgTQDAN+IK0dR/tc3AAAAAElFTkSuQmCC);
	border-color: $warningColor;
	color: shade($warningColor, 60%);
}

@mixin error
{
	@include background-image(linear-gradient(top,  lighten($errorColor, 10%) 0%, $errorColor 100%));
	border-color: $errorColor;
	color: shade($errorColor, 60%);
}

@mixin inverse
{
	@include background-image(linear-gradient(top,  lighten($inverseColor, 16%) 0%, $inverseColor 100%));
	border-color: $inverseColor;
	color: $white;
}

.badge
{
	@include defaultAlert;
	@include rhythm-borders(1px, .1, $baseFontSize);
	@include apply-side-rhythm-border(left, 1px, .3, $baseFontSize);
	@include apply-side-rhythm-border(right, 1px, .3, $baseFontSize);
	@include adjust-font-size-to(14px);
	@include border-radius(12px);
	color: $grayDark;
}

.badge-success
{
	@include success;
}

.badge-warning
{
	@include warning;
}

.badge-error
{
	@include error;
}

.badge-inverse
{
	@include inverse;
}

.badge-info
{
	@include info;
}


.alert
{
	@include defaultAlert;
}


.alert
{
	position: relative;
	margin: 0 auto 0 auto;
	@include trailer(1, $baseFontSize, margin);
	@include rhythm-borders(1px, 1, 16px, solid);	
	text-align: left;
	border-radius: 5px;
	box-shadow:
		0 1px 1px rgba(0,0,0,0.1),
		inset 0 1px 0 rgba(255, 255, 255,0.6);
	cursor: default;

	.close
	{
		
	    float: right;
	    @include adjust-font-size-to(20px);  
	    font-weight: bold;
	    cursor: pointer;
	    position: relative;
	    right: -21px;
	    top: -26px;
		color: inherit;
	}

	h4
	{
		margin:0;
	}
}

.alert-block
{
	
	.close
	{
		color: inherit;
	}

}

.alert-striped
{
	@include stripedWarning;

	.close
	{
		color: inherit;
	}

}


.alert-success
{
	@include success;

		.close
	{
		color: inherit;
	}

}

.alert-warning
{
	@include warning;

		.close
	{
		color: inherit;
	}

}

.alert-error
{
	@include error;

		.close
	{
		color: inherit;
	}
}

.alert-info
{
	@include info;

		.close
	{
		color: inherit;
	}

}

.alert-inverse
{
	@include inverse;

		.close
	{
		color: inherit;
	}

}