//----------------------------------------------------------------------------
// site.scss
// The base styles and base layout go here. 
//----------------------------------------------------------------------------


// ---------------------------------------------------------------------------
// ROOT

html 
{
	background : $bodyBackground;
	font-size : 62.5%;
	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : lighten($baseColor, 75%);
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%; 
}

body 
{
	margin : 0;
	padding : 0;
	width : 100%;
	background-color : transparent;
	font-family : $baseFontFamily;
	font-size: $baseFontSize;
	line-height : $baseLineHeight;
	color : $baseTextColor;
	background-color: #EDEDED;
	background-image: url('../../assets/image-base/100-100-2-monochrome.png');

	//DEBUG
	//@include debug-vertical-alignment(); 
}

//Render media-ready elements at any size
img,
embed, 
object, 
video 
{
	max-width: 100%;
}

// ---------------------------------------------------------------------------
// LAYOUT

.page 
{

  @include container;
//@include susy-grid-background;
}

.container
{
	background-color: lighten($baseColorShade, 25%);
  	@include single-box-shadow($grayLighter, $default-box-shadow-h-offset, $default-box-shadow-v-offset, $default-box-shadow-blur, $default-box-shadow-spread, $default-box-shadow-inset);
 	@include span-columns(8,8);
}

// HEADER

header
{
	@include span-columns(8,8);

	h1
	{
		display: block;
		position: relative;
		color: $gray;
		@include single-text-shadow($default-text-shadow-h-offset, $default-text-shadow-v-offset, $default-text-shadow-blur, $default-text-shadow-color);
	
		line-height: 0;
		border-color: lighten($baseColor, 3%);
		padding: $base-leader * 2;
		//@include rhythm-borders(1px, 1, $baseFontSize);
		@include trailer(.5, $baseFontSize, margin);
		text-align: center;
		//@include background-image(linear-gradient(top,  lighten($baseColor, 6%) 0%,  lighten($baseColor, 6%) 50%,  lighten($baseColor, 5%) 51%, lighten($baseColor, 5%) 100%));
	
	}
}

// CONTENT


.popularTweets, .tweetsBy
{
	clear: both;
	@include leader(2, $baseFontSize, margin);
	display: block;
	background-color: lighten($baseColor, 5%);
	margin: 5%;	
}


div[role="main"]
{

	// h2
	// {	
	// 	padding-top: $base-half-leader * 2;
	// 	text-align: center;
	// 	font-weight: normal;
	// 	@include reset-columns;
	// 	@include span-columns(8,8);
	// 	//background-color: lighten($baseColorTint, 5%);
	// 	color:darken($baseColor, 50%);
	// 	@include single-text-shadow($default-text-shadow-h-offset, $default-text-shadow-v-offset, $default-text-shadow-blur,  $baseColorShade);
	// 	@include leader(1, $baseFontSize, margin);
	// }

	> p
	{
		
		text-align: center;
		@include adjust-font-size-to(24px); 
	}

	ul
	{
		margin-left: 0;

		li
		{
			margin:0;
			padding:0;
			list-style-type: none;
		}
	}
}


ul.tweet, .search 
	{	
		display: block;
		background-color: lighten($baseColor, 5%);
		border-color: lighten($baseColor, 10%);
		@include rhythm-borders(1px, 1, $baseFontSize);
		border-left-color: darken($baseColor, .5%);
		border-right-color: darken($baseColor, .5%);
		border-bottom-color: darken($baseColor, .5%);
	}

	.popularTweets
	{

			ul.first
			{
				border-top-color: darken($baseColor, .5%);
				@include border-corner-radius( top, right, $defaultBorderRadius);
				@include border-corner-radius( top, left, $defaultBorderRadius);
				border-bottom-color:$baseColor;
			}

			ul.last
			{
				border-bottom-color: darken($baseColor, .5%);
				@include border-corner-radius( bottom, right, $defaultBorderRadius);
				@include border-corner-radius( bottom, left, $defaultBorderRadius);
			}
	}

		.popularTweets
	{

			ul.first
			{
				border-top-color: darken($baseColor, .5%);
				@include border-corner-radius( top, right, $defaultBorderRadius);
				@include border-corner-radius( top, left, $defaultBorderRadius);
				border-bottom-color:$baseColor;
			}

			ul.last
			{
				border-bottom-color: darken($baseColor, .5%);
				@include border-corner-radius( bottom, right, $defaultBorderRadius);
				@include border-corner-radius( bottom, left, $defaultBorderRadius);
			}
	}


	.tweetsBy
	{

		.search
		{
			border-top-color: darken($baseColor, .5%);
			@include border-corner-radius( top, right, $defaultBorderRadius);
			@include border-corner-radius( top, left, $defaultBorderRadius);
			border-bottom-color:$baseColor;
		}

		ul.last
		{
			border-bottom-color: darken($baseColor, .5%);
			@include border-corner-radius( bottom, right, $defaultBorderRadius);
			@include border-corner-radius( bottom, left, $defaultBorderRadius);
		}
	}

.search
{

	.atSymbol
	{
		float: left;
		text-align: center;
		border-color: white; 
		@include adjust-font-size-to(18px); 
		width:5%;
		border-color: $baseColor;
		@include rhythm-borders(1px, .5, $baseFontSize);
		@include border-corner-radius( top, left, $defaultBorderRadius);
		@include border-corner-radius( bottom, left, $defaultBorderRadius);
		color: darken($baseColor, 10%);
		margin-right: -1px;		
	}

	form
	{
		display: block;
		margin-left:8%;
		width:91%;
	}

	input
	{
		width: 75%;
		@include rhythm-borders(1px, .5, $baseFontSize);
		@include horizontal-borders(1px, 1, $baseFontSize, solid);
		border-color: $baseColor;
		float: left;
	}



	button
	{
		@include sassy-button("glass", 5px, 12px, $baseColor, lighten($baseColor, 2%));
		@include adjust-font-size-to(13px); 
		@include rhythm-borders(1px, .5, $baseFontSize);
		margin-left: -1px;
		height: $base-leader * 6;
		width: 22.3%;
		@include border-corner-radius( top, left, 0);
		@include border-corner-radius( bottom, left, 0);
		color: darken($baseColor, 50%);
		letter-spacing: .05em;
		line-height: 1.3em;
	}

}


	ul.tweet
	{
			&:nth-child(2n)
			{
				border-bottom-color:$baseColor;
			}
		
			&:hover
			{
				background-color: lighten($grayLighter, 5%);
			}
		
			li.time
			{
				float:right;
				position: relative;
				bottom: 28px;
				margin-right: 2%;
			}

			li.up
			{
				width:104.58%;
				@include leader(1, $baseFontSize, margin);
				border-top: 1px solid $baseColor;				
				text-align: center;
				margin-bottom: -0.786em;
				margin-left: -0.786em;
			}

		li
		{

			img
			{
				@include trailer(1, $baseFontSize, margin);
				padding: $base-half-leader;
				display: inline;
				float: left;
				margin-right: $base-leader * 2;
			}

			h3
			{
				float: left;
				@include adjust-font-size-to(14px);  
				font-weight: bold;
			}

			span
			{
				@include adjust-font-size-to(12px);  
				margin-left: $base-leader ;
			}

			p
			{
				@include adjust-font-size-to(14px);  
				@include push(1);
				width: 82.759%;
			}

		}
	}



.popularTweets
{
	ul.tweet
	{
		background: none;
	}
}


li.rank
{
	color: $gray;
	@include adjust-font-size-to(18px);
	display: block;
	text-align: center;
	clear: both;
	font-weight: bold;
	border-color: $grayLighter;
	@include rhythm-borders(1px, .25, $baseFontSize);
	@include single-box-shadow(lighten($baseColor, 7%), 1px, 1px, 0, $default-box-shadow-spread, inset);
	@include leader(4, $baseFontSize, margin);
	cursor: pointer;

	&:hover
	{
		@include background-image(linear-gradient(top,  lighten($baseColor, 6%) 0%,  lighten($baseColor, 6%) 50%,  lighten($baseColor, 5%) 51%, lighten($baseColor, 5%) 100%));
		@include single-box-shadow($white, 1px, 1px, 0, $default-box-shadow-spread, inset);
	}
}

// FOOTER

footer
{
	@include span-columns(8,8);
	text-align: center;
	color: darken($baseColor, 10%);
	@include rhythm-borders(0px, 1, $baseFontSize);
	
}


