//----------------------------------------------------------------------------
// blocks.scss
//	a block is a more discrete component of the page
//----------------------------------------------------------------------------

//BASE BLOCK
.blck
{
	margin: $spaceM;

	.inner 
	{

	}
}

//BODY, HEADER, FOOTER
.bd, .ft, .hd
{
	overflow:hidden; 
	*overflow:visible; 
	zoom:1;
}

//ISLAND
.island, .well
{
	@include rhythm-borders(1px, 1, $baseFontSize);
	border-color: $grayLight;
	@include trailer(1, $baseFontSize, margin);
	@include bx;

    & > :last-child
    {
    	/* Remove the margin from the last child of a boxed off area so that we don't end up with compounded margin/padding spacings. */
    	margin-bottom:0; 
 	}
}

.island-large
{
	@include rhythm-borders(1px, 2, $baseFontSize);
	border-color: $grayLight;

}

form fieldset label {
	display: block;
	margin: 0 0 5px 0;
	font-weight: bold;
	}
form fieldset.check label {
	display: inline;
	font-weight: normal;
	}

	form fieldset.radio ul li label {
	display: inline;
	font-weight: normal;
	}

