//----------------------------------------------------------------------------
// buttons.scss
//----------------------------------------------------------------------------

.btn
{
	@include adjust-font-size-to(14px);
	display: inline-block;
	min-width: 75px;
	min-height: 30px;
	@include rhythm-borders(1px, .5, 16px);
	@include rhythm(.5, .2, .2, .5, 16px);
	border-style: solid;
	border-color: $grayLight; 
	@include border-radius($default-border-radius);
	background: url('/assets/image-base/sassy-ie-overlay.png') repeat-x bottom left #e6e6e6;
	@include background-image(linear-gradient( $grayLighter, $grayLight 70%));
	@include single-box-shadow($white, 0, 1px, 0, 0, inset);
	color: $grayDark;
	text-shadow: $grayLighter 0 1px 0;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
}

.btn:hover 
{
	@include single-box-shadow($grayLighter, 0, 1px, 0, 0, inset);
	@include background-image(linear-gradient( darken($grayLighter, 5%), darken($grayLight, 5%) 70%));
	color: $grayDark;
	text-decoration: none;
}

.btn:active 
{
  -webkit-box-shadow: #d1d1d1 0 1px 2px inset;
  -moz-box-shadow: #d1d1d1 0 1px 2px inset;
  box-shadow: #d1d1d1 0 1px 2px inset;
  color: $grayDark;
  text-decoration: none;
}

.btn.disabled, .btn[disabled] 
{
  opacity: 0.6;
  color: $gray;
  background: #e6e6e6;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}
