/* HTML5 Boilerplate  */
/* line 3, ../scss/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 4, ../scss/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 5, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 6, ../scss/_normalize.scss */
[hidden] {
  display: none;
}

/* line 8, ../scss/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 9, ../scss/_normalize.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 10, ../scss/_normalize.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* line 12, ../scss/_normalize.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 13, ../scss/_normalize.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 15, ../scss/_normalize.scss */
a {
  color: #00e;
}

/* line 16, ../scss/_normalize.scss */
a:visited {
  color: #551a8b;
}

/* line 17, ../scss/_normalize.scss */
a:hover {
  color: #06e;
}

/* line 18, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 19, ../scss/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 20, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 21, ../scss/_normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 22, ../scss/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 23, ../scss/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 24, ../scss/_normalize.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 25, ../scss/_normalize.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 26, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 27, ../scss/_normalize.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 28, ../scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 30, ../scss/_normalize.scss */
q {
  quotes: none;
}

/* line 31, ../scss/_normalize.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 32, ../scss/_normalize.scss */
small {
  font-size: 85%;
}

/* line 33, ../scss/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 34, ../scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 35, ../scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 37, ../scss/_normalize.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 38, ../scss/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 39, ../scss/_normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 41, ../scss/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 42, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 43, ../scss/_normalize.scss */
figure {
  margin: 0;
}

/* line 45, ../scss/_normalize.scss */
form {
  margin: 0;
}

/* line 46, ../scss/_normalize.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 48, ../scss/_normalize.scss */
label {
  cursor: pointer;
}

/* line 49, ../scss/_normalize.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 50, ../scss/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 51, ../scss/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 52, ../scss/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 53, ../scss/_normalize.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 54, ../scss/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 55, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 56, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 57, ../scss/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 58, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 60, ../scss/_normalize.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 62, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 63, ../scss/_normalize.scss */
td {
  vertical-align: top;
}

/* line 65, ../scss/_normalize.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

/* line 80, ../scss/_normalize.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 81, ../scss/_normalize.scss */
.ir br {
  display: none;
}

/* line 82, ../scss/_normalize.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 83, ../scss/_normalize.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 84, ../scss/_normalize.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 85, ../scss/_normalize.scss */
.invisible {
  visibility: hidden;
}

/* line 86, ../scss/_normalize.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 87, ../scss/_normalize.scss */
.clearfix:after {
  clear: both;
}

/* line 88, ../scss/_normalize.scss */
.clearfix {
  *zoom: 1;
}

@media print {
  /* line 91, ../scss/_normalize.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 92, ../scss/_normalize.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 93, ../scss/_normalize.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 94, ../scss/_normalize.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 95, ../scss/_normalize.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 96, ../scss/_normalize.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 97, ../scss/_normalize.scss */
  thead {
    display: table-header-group;
  }

  /* line 98, ../scss/_normalize.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 99, ../scss/_normalize.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 101, ../scss/_normalize.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 102, ../scss/_normalize.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 66, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 87.5%;
  line-height: 0.857em;
}

/* line 11, ../scss/_site.scss */
html {
  background: white;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 21, ../scss/_site.scss */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 12px;
  color: #404040;
  background-color: #EDEDED;
  background-image: url("../../assets/image-base/100-100-2-monochrome.png");
}

/* line 42, ../scss/_site.scss */
img,
embed,
object,
video {
  max-width: 100%;
}

/* line 50, ../scss/_site.scss */
.page {
  *zoom: 1;
  max-width: 39em;
  _width: 39em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 57, ../scss/_site.scss */
.container {
  background-color: #f8f8f8;
  -webkit-box-shadow: 0px 0px 5px #e6e6e6;
  -moz-box-shadow: 0px 0px 5px #e6e6e6;
  box-shadow: 0px 0px 5px #e6e6e6;
  width: 100%;
  float: left;
  margin-right: 2.564%;
  display: inline;
}

/* line 66, ../scss/_site.scss */
header {
  width: 100%;
  float: left;
  margin-right: 2.564%;
  display: inline;
}
/* line 70, ../scss/_site.scss */
header h1 {
  display: block;
  position: relative;
  color: gray;
  text-shadow: 0px 0px 1px #aaaaaa;
  line-height: 0;
  border-color: #ededed;
  padding: 1em;
  margin-bottom: 0.429em;
  text-align: center;
}

/* line 91, ../scss/_site.scss */
.popularTweets, .tweetsBy {
  clear: both;
  margin-top: 1.714em;
  display: block;
  background-color: #f2f2f2;
  margin: 5%;
}

/* line 117, ../scss/_site.scss */
div[role="main"] > p {
  text-align: center;
  font-size: 1.714em;
  line-height: 1.5em;
}
/* line 124, ../scss/_site.scss */
div[role="main"] ul {
  margin-left: 0;
}
/* line 128, ../scss/_site.scss */
div[role="main"] ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 138, ../scss/_site.scss */
ul.tweet, .search {
  display: block;
  background-color: #f2f2f2;
  border-color: white;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.786em;
  border-left-color: #e4e4e4;
  border-right-color: #e4e4e4;
  border-bottom-color: #e4e4e4;
}

/* line 152, ../scss/_site.scss */
.popularTweets ul.first {
  border-top-color: #e4e4e4;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-color: #e6e6e6;
}
/* line 160, ../scss/_site.scss */
.popularTweets ul.last {
  border-bottom-color: #e4e4e4;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 171, ../scss/_site.scss */
.popularTweets ul.first {
  border-top-color: #e4e4e4;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-color: #e6e6e6;
}
/* line 179, ../scss/_site.scss */
.popularTweets ul.last {
  border-bottom-color: #e4e4e4;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 191, ../scss/_site.scss */
.tweetsBy .search {
  border-top-color: #e4e4e4;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-color: #e6e6e6;
}
/* line 199, ../scss/_site.scss */
.tweetsBy ul.last {
  border-bottom-color: #e4e4e4;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 210, ../scss/_site.scss */
.search .atSymbol {
  float: left;
  text-align: center;
  border-color: white;
  font-size: 1.286em;
  line-height: 1.333em;
  width: 5%;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #cccccc;
  margin-right: -1px;
}
/* line 225, ../scss/_site.scss */
.search form {
  display: block;
  margin-left: 8%;
  width: 91%;
}
/* line 232, ../scss/_site.scss */
.search input {
  width: 75%;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  border-top-style: solid;
  border-top-width: 0.071em;
  padding-top: 0.786em;
  border-bottom-style: solid;
  border-bottom-width: 0.071em;
  padding-bottom: 0.786em;
  border-color: #e6e6e6;
  float: left;
}
/* line 243, ../scss/_site.scss */
.search button {
  font-size: 12px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  line-height: 1.2em;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: url('/assets/image-base/sassy-ie-overlay.png') repeat-x bottom left #e6e6e6;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #f0f0f0), color-stop(51%, #e6e6e6));
  background: -webkit-linear-gradient(#f0f0f0 50%, #e6e6e6 51%);
  background: -moz-linear-gradient(#f0f0f0 50%, #e6e6e6 51%);
  background: -o-linear-gradient(#f0f0f0 50%, #e6e6e6 51%);
  background: -ms-linear-gradient(#f0f0f0 50%, #e6e6e6 51%);
  background: linear-gradient(#f0f0f0 50%, #e6e6e6 51%);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid #dedede;
  color: white;
  text-shadow: #afafaf 0 1px 0;
  font-size: 0.929em;
  line-height: 1.846em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  margin-left: -1px;
  height: 3em;
  width: 22.3%;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #666666;
  letter-spacing: .05em;
  line-height: 1.3em;
}
/* line 33, ../scss/sassy-buttons/_sassy-button-pseudo-states.scss */
.search button:hover {
  background-color: #d9d9d9;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #dedede), color-stop(51%, #d9d9d9));
  background: -webkit-linear-gradient(#dedede 50%, #d9d9d9 51%);
  background: -moz-linear-gradient(#dedede 50%, #d9d9d9 51%);
  background: -o-linear-gradient(#dedede 50%, #d9d9d9 51%);
  background: -ms-linear-gradient(#dedede 50%, #d9d9d9 51%);
  background: linear-gradient(#dedede 50%, #d9d9d9 51%);
}
/* line 37, ../scss/sassy-buttons/_sassy-button-pseudo-states.scss */
.search button:active {
  -webkit-box-shadow: #d6d6d6 0 1px 2px inset;
  -moz-box-shadow: #d6d6d6 0 1px 2px inset;
  box-shadow: #d6d6d6 0 1px 2px inset;
}
/* line 5, ../scss/sassy-buttons/_sassy-button-pseudo-states.scss */
.search button.disabled, .search button[disabled] {
  opacity: 0.6;
  background: #ebebeb;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 263, ../scss/_site.scss */
ul.tweet:nth-child(2n) {
  border-bottom-color: #e6e6e6;
}
/* line 268, ../scss/_site.scss */
ul.tweet:hover {
  background-color: #f2f2f2;
}
/* line 273, ../scss/_site.scss */
ul.tweet li.time {
  float: right;
  position: relative;
  bottom: 28px;
  margin-right: 2%;
}
/* line 281, ../scss/_site.scss */
ul.tweet li.up {
  width: 104.58%;
  margin-top: 0.857em;
  border-top: 1px solid #e6e6e6;
  text-align: center;
  margin-bottom: -0.786em;
  margin-left: -0.786em;
}
/* line 294, ../scss/_site.scss */
ul.tweet li img {
  margin-bottom: 0.857em;
  padding: 0.25em;
  display: inline;
  float: left;
  margin-right: 1em;
}
/* line 303, ../scss/_site.scss */
ul.tweet li h3 {
  float: left;
  font-size: 1em;
  line-height: 1.714em;
  font-weight: bold;
}
/* line 310, ../scss/_site.scss */
ul.tweet li span {
  font-size: 0.857em;
  line-height: 2em;
  margin-left: 0.5em;
}
/* line 316, ../scss/_site.scss */
ul.tweet li p {
  font-size: 1em;
  line-height: 1.714em;
  margin-left: 12.821%;
  width: 82.759%;
}

/* line 330, ../scss/_site.scss */
.popularTweets ul.tweet {
  background: none;
}

/* line 337, ../scss/_site.scss */
li.rank {
  color: gray;
  font-size: 1.286em;
  line-height: 1.333em;
  display: block;
  text-align: center;
  clear: both;
  font-weight: bold;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.143em;
  -webkit-box-shadow: inset 1px 1px 0 #f7f7f7;
  -moz-box-shadow: inset 1px 1px 0 #f7f7f7;
  box-shadow: inset 1px 1px 0 #f7f7f7;
  margin-top: 3.429em;
  cursor: pointer;
}
/* line 351, ../scss/_site.scss */
li.rank:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(50%, #f5f5f5), color-stop(51%, #f2f2f2), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #f5f5f5 50%, #f2f2f2 51%, #f2f2f2 100%);
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #f5f5f5 50%, #f2f2f2 51%, #f2f2f2 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #f5f5f5 50%, #f2f2f2 51%, #f2f2f2 100%);
  background-image: -ms-linear-gradient(top, #f5f5f5 0%, #f5f5f5 50%, #f2f2f2 51%, #f2f2f2 100%);
  background-image: linear-gradient(top, #f5f5f5 0%, #f5f5f5 50%, #f2f2f2 51%, #f2f2f2 100%);
  -webkit-box-shadow: inset 1px 1px 0 white;
  -moz-box-shadow: inset 1px 1px 0 white;
  box-shadow: inset 1px 1px 0 white;
}

/* line 360, ../scss/_site.scss */
footer {
  width: 100%;
  float: left;
  margin-right: 2.564%;
  display: inline;
  text-align: center;
  color: #cccccc;
  border-style: solid;
  border-width: 0em;
  padding: 0.857em;
}

/* line 16, ../scss/_typography.scss */
p,
ol,
ul,
dl,
address {
  padding: 0;
  margin: 0;
  font-size: 1em;
  line-height: 1.714em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 23, ../scss/_typography.scss */
p small,
ol small,
ul small,
dl small,
address small {
  color: #bfbfbf;
  margin-top: 1em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1em;
}

/* line 35, ../scss/_typography.scss */
a {
  color: #0099cc;
  text-decoration: none;
}

/* line 40, ../scss/_typography.scss */
a:hover {
  color: #007399;
  text-decoration: underline;
}

/* line 51, ../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}

/* line 60, ../scss/_typography.scss */
h1 {
  font-family: "Bobel";
  padding-bottom: 0.75em;
  font-size: 2.286em;
  line-height: 1.125em;
}

/* line 67, ../scss/_typography.scss */
h2 {
  margin-top: 0.5em;
  font-size: 1.714em;
  line-height: 1.5em;
}

/* line 73, ../scss/_typography.scss */
h3 {
  margin: 0;
  padding: 0;
}

/* line 79, ../scss/_typography.scss */
h4 {
  margin-top: 0.667em;
  font-size: 1.286em;
  line-height: 1.333em;
}

/* line 85, ../scss/_typography.scss */
h5 {
  margin-top: 0.75em;
  font-size: 1.143em;
  line-height: 1.5em;
}

/* line 91, ../scss/_typography.scss */
h6 {
  margin-top: 0.857em;
  font-size: 1em;
  line-height: 1.714em;
}

/* line 104, ../scss/_typography.scss */
blockquote {
  color: gray;
  margin-top: 0.667em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.667em;
  font-size: 1.286em;
  line-height: 1.333em;
  margin-left: 1em;
  padding-left: 1em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

/* line 115, ../scss/_typography.scss */
q {
  quotes: none;
}

/* line 123, ../scss/_typography.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 129, ../scss/_typography.scss */
blockquote:before {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  content: "“";
  font-size: 3.429em;
  line-height: 0.5em;
  text-indent: -0.5em;
  float: left;
  opacity: .3;
}

/* line 140, ../scss/_typography.scss */
cite {
  display: block;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  text-align: right;
  margin-right: 4em;
}
/* line 149, ../scss/_typography.scss */
cite:before {
  content: "- ";
}

/* line 161, ../scss/_typography.scss */
ul {
  margin: 0 0 0 1em;
  padding: 0;
  list-style-position: outside;
  list-style-type: disc;
}
/* line 168, ../scss/_typography.scss */
ul .noStyle {
  list-style-type: none;
}

/* line 174, ../scss/_typography.scss */
li {
  margin-bottom: 0.429em;
}

/* line 179, ../scss/_typography.scss */
ol {
  margin: 0 0 0 1.3em;
  padding: 0;
  list-style-position: outside;
  list-style-type: decimal;
}

/* line 190, ../scss/_typography.scss */
dl,
dd {
  margin-bottom: 12px;
}

/* line 195, ../scss/_typography.scss */
dt {
  font-weight: bold;
}

/* line 203, ../scss/_typography.scss */
.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right;
}
/* line 211, ../scss/_typography.scss */
.dl-horizontal dd {
  margin-left: 22.78%;
}

/* line 222, ../scss/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted gray;
  cursor: help;
}

/* line 228, ../scss/_typography.scss */
b, strong {
  font-weight: bold;
}

/* line 233, ../scss/_typography.scss */
dfn {
  font-style: italic;
}

/* line 238, ../scss/_typography.scss */
ins {
  background-color: white;
  color: #404040;
  text-decoration: none;
}

/* line 245, ../scss/_typography.scss */
mark {
  background-color: white;
  color: #404040;
  font-style: italic;
  font-weight: bold;
}

/* line 256, ../scss/_typography.scss */
pre,
code,
kbd,
samp {
  font-family: Monaco, Courier New, monospace;
  font-size: 1em;
  line-height: 1.714em;
}

/* line 262, ../scss/_typography.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 270, ../scss/_typography.scss */
sub,
sup {
  position: relative;
  font-size: 0.857em;
  line-height: 2em;
  line-height: 0;
  vertical-align: 12px;
}

/* line 278, ../scss/_typography.scss */
sup {
  top: -0.5em;
}

/* line 283, ../scss/_typography.scss */
sub {
  bottom: -0.25em;
}

/* line 58, ../scss/_alerts.scss */
.badge {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  border-color: #e6e6e6;
  color: gray;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.014em;
  border-left-style: solid;
  border-left-width: 0.071em;
  padding-left: 0.186em;
  border-right-style: solid;
  border-right-width: 0.071em;
  padding-right: 0.186em;
  font-size: 1em;
  line-height: 1.714em;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  color: #404040;
}

/* line 69, ../scss/_alerts.scss */
.badge-success {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #76e476), color-stop(100%, #4cdb4c));
  background-image: -webkit-linear-gradient(top, #76e476 0%, #4cdb4c 100%);
  background-image: -moz-linear-gradient(top, #76e476 0%, #4cdb4c 100%);
  background-image: -o-linear-gradient(top, #76e476 0%, #4cdb4c 100%);
  background-image: -ms-linear-gradient(top, #76e476 0%, #4cdb4c 100%);
  background-image: linear-gradient(top, #76e476 0%, #4cdb4c 100%);
  border-color: #4cdb4c;
  color: #1e571e;
}

/* line 74, ../scss/_alerts.scss */
.badge-warning {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe57f), color-stop(100%, #ffdb4c));
  background-image: -webkit-linear-gradient(top, #ffe57f 0%, #ffdb4c 100%);
  background-image: -moz-linear-gradient(top, #ffe57f 0%, #ffdb4c 100%);
  background-image: -o-linear-gradient(top, #ffe57f 0%, #ffdb4c 100%);
  background-image: -ms-linear-gradient(top, #ffe57f 0%, #ffdb4c 100%);
  background-image: linear-gradient(top, #ffe57f 0%, #ffdb4c 100%);
  border-color: #ffdb4c;
  color: #66571e;
}

/* line 79, ../scss/_alerts.scss */
.badge-error {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e47676), color-stop(100%, #db4c4c));
  background-image: -webkit-linear-gradient(top, #e47676 0%, #db4c4c 100%);
  background-image: -moz-linear-gradient(top, #e47676 0%, #db4c4c 100%);
  background-image: -o-linear-gradient(top, #e47676 0%, #db4c4c 100%);
  background-image: -ms-linear-gradient(top, #e47676 0%, #db4c4c 100%);
  background-image: linear-gradient(top, #e47676 0%, #db4c4c 100%);
  border-color: #db4c4c;
  color: #571e1e;
}

/* line 84, ../scss/_alerts.scss */
.badge-inverse {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #696969), color-stop(100%, #404040));
  background-image: -webkit-linear-gradient(top, #696969 0%, #404040 100%);
  background-image: -moz-linear-gradient(top, #696969 0%, #404040 100%);
  background-image: -o-linear-gradient(top, #696969 0%, #404040 100%);
  background-image: -ms-linear-gradient(top, #696969 0%, #404040 100%);
  background-image: linear-gradient(top, #696969 0%, #404040 100%);
  border-color: #404040;
  color: white;
}

/* line 89, ../scss/_alerts.scss */
.badge-info {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #90d2e9), color-stop(100%, #4cb7db));
  background-image: -webkit-linear-gradient(top, #90d2e9 0%, #4cb7db 100%);
  background-image: -moz-linear-gradient(top, #90d2e9 0%, #4cb7db 100%);
  background-image: -o-linear-gradient(top, #90d2e9 0%, #4cb7db 100%);
  background-image: -ms-linear-gradient(top, #90d2e9 0%, #4cb7db 100%);
  background-image: linear-gradient(top, #90d2e9 0%, #4cb7db 100%);
  border-color: #4cb7db;
  color: #1e4957;
}

/* line 95, ../scss/_alerts.scss */
.alert {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  border-color: #e6e6e6;
  color: gray;
}

/* line 101, ../scss/_alerts.scss */
.alert {
  position: relative;
  margin: 0 auto 0 auto;
  margin-bottom: 0.857em;
  border-style: solid;
  border-width: 0.063em;
  padding: 0.688em;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.6);
  cursor: default;
}
/* line 114, ../scss/_alerts.scss */
.alert .close {
  float: right;
  font-size: 1.429em;
  line-height: 1.2em;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  right: -21px;
  top: -26px;
  color: inherit;
}
/* line 127, ../scss/_alerts.scss */
.alert h4 {
  margin: 0;
}

/* line 136, ../scss/_alerts.scss */
.alert-block .close {
  color: inherit;
}

/* line 143, ../scss/_alerts.scss */
.alert-striped {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARUlEQVQYV2P8/3rmfwZ8QAQiyYhXIVQRfoVIihje4DIRTRF2E7EowlSIQxGqQjyKEAoJKIIo/I8UjkDf4QIIhXgUgTQDAN+IK0dR/tc3AAAAAElFTkSuQmCC);
  border-color: #ffdb4c;
  color: #66571e;
}
/* line 147, ../scss/_alerts.scss */
.alert-striped .close {
  color: inherit;
}

/* line 155, ../scss/_alerts.scss */
.alert-success {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #76e476), color-stop(100%, #4cdb4c));
  background-image: -webkit-linear-gradient(top, #76e476 0%, #4cdb4c 100%);
  background-image: -moz-linear-gradient(top, #76e476 0%, #4cdb4c 100%);
  background-image: -o-linear-gradient(top, #76e476 0%, #4cdb4c 100%);
  background-image: -ms-linear-gradient(top, #76e476 0%, #4cdb4c 100%);
  background-image: linear-gradient(top, #76e476 0%, #4cdb4c 100%);
  border-color: #4cdb4c;
  color: #1e571e;
}
/* line 159, ../scss/_alerts.scss */
.alert-success .close {
  color: inherit;
}

/* line 166, ../scss/_alerts.scss */
.alert-warning {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe57f), color-stop(100%, #ffdb4c));
  background-image: -webkit-linear-gradient(top, #ffe57f 0%, #ffdb4c 100%);
  background-image: -moz-linear-gradient(top, #ffe57f 0%, #ffdb4c 100%);
  background-image: -o-linear-gradient(top, #ffe57f 0%, #ffdb4c 100%);
  background-image: -ms-linear-gradient(top, #ffe57f 0%, #ffdb4c 100%);
  background-image: linear-gradient(top, #ffe57f 0%, #ffdb4c 100%);
  border-color: #ffdb4c;
  color: #66571e;
}
/* line 170, ../scss/_alerts.scss */
.alert-warning .close {
  color: inherit;
}

/* line 177, ../scss/_alerts.scss */
.alert-error {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e47676), color-stop(100%, #db4c4c));
  background-image: -webkit-linear-gradient(top, #e47676 0%, #db4c4c 100%);
  background-image: -moz-linear-gradient(top, #e47676 0%, #db4c4c 100%);
  background-image: -o-linear-gradient(top, #e47676 0%, #db4c4c 100%);
  background-image: -ms-linear-gradient(top, #e47676 0%, #db4c4c 100%);
  background-image: linear-gradient(top, #e47676 0%, #db4c4c 100%);
  border-color: #db4c4c;
  color: #571e1e;
}
/* line 181, ../scss/_alerts.scss */
.alert-error .close {
  color: inherit;
}

/* line 187, ../scss/_alerts.scss */
.alert-info {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #90d2e9), color-stop(100%, #4cb7db));
  background-image: -webkit-linear-gradient(top, #90d2e9 0%, #4cb7db 100%);
  background-image: -moz-linear-gradient(top, #90d2e9 0%, #4cb7db 100%);
  background-image: -o-linear-gradient(top, #90d2e9 0%, #4cb7db 100%);
  background-image: -ms-linear-gradient(top, #90d2e9 0%, #4cb7db 100%);
  background-image: linear-gradient(top, #90d2e9 0%, #4cb7db 100%);
  border-color: #4cb7db;
  color: #1e4957;
}
/* line 191, ../scss/_alerts.scss */
.alert-info .close {
  color: inherit;
}

/* line 198, ../scss/_alerts.scss */
.alert-inverse {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #696969), color-stop(100%, #404040));
  background-image: -webkit-linear-gradient(top, #696969 0%, #404040 100%);
  background-image: -moz-linear-gradient(top, #696969 0%, #404040 100%);
  background-image: -o-linear-gradient(top, #696969 0%, #404040 100%);
  background-image: -ms-linear-gradient(top, #696969 0%, #404040 100%);
  background-image: linear-gradient(top, #696969 0%, #404040 100%);
  border-color: #404040;
  color: white;
}
/* line 202, ../scss/_alerts.scss */
.alert-inverse .close {
  color: inherit;
}

/* line 8, ../scss/_blocks.scss */
.blck {
  margin: 6px;
}

/* line 19, ../scss/_blocks.scss */
.bd, .ft, .hd {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}

/* line 27, ../scss/_blocks.scss */
.island, .well {
  border-style: solid;
  border-width: 0.071em;
  padding: 0.786em;
  border-color: #bfbfbf;
  margin-bottom: 0.857em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 100%);
  margin-bottom: 0.857em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 13, ../scss/_texture.scss */
.island p, .well p {
  margin: 0;
}
/* line 34, ../scss/_blocks.scss */
.island > :last-child, .well > :last-child {
  /* Remove the margin from the last child of a boxed off area so that we don't end up with compounded margin/padding spacings. */
  margin-bottom: 0;
}

/* line 41, ../scss/_blocks.scss */
.island-large {
  border-style: solid;
  border-width: 0.071em;
  padding: 1.643em;
  border-color: #bfbfbf;
}

/* line 47, ../scss/_blocks.scss */
form fieldset label {
  display: block;
  margin: 0 0 5px 0;
  font-weight: bold;
}

/* line 52, ../scss/_blocks.scss */
form fieldset.check label {
  display: inline;
  font-weight: normal;
}

/* line 57, ../scss/_blocks.scss */
form fieldset.radio ul li label {
  display: inline;
  font-weight: normal;
}

/* line 6, ../scss/_buttons.scss */
.btn {
  font-size: 1em;
  line-height: 1.714em;
  display: inline-block;
  min-width: 75px;
  min-height: 30px;
  border-style: solid;
  border-width: 0.063em;
  padding: 0.313em;
  margin-top: 0.375em;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  margin-bottom: 0.375em;
  border-style: solid;
  border-color: #bfbfbf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: url("/assets/image-base/sassy-ie-overlay.png") repeat-x bottom left #e6e6e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(70%, #bfbfbf));
  background-image: -webkit-linear-gradient(#e6e6e6, #bfbfbf 70%);
  background-image: -moz-linear-gradient(#e6e6e6, #bfbfbf 70%);
  background-image: -o-linear-gradient(#e6e6e6, #bfbfbf 70%);
  background-image: -ms-linear-gradient(#e6e6e6, #bfbfbf 70%);
  background-image: linear-gradient(#e6e6e6, #bfbfbf 70%);
  -webkit-box-shadow: inset 0 1px 0 0 white;
  -moz-box-shadow: inset 0 1px 0 0 white;
  box-shadow: inset 0 1px 0 0 white;
  color: #404040;
  text-shadow: #e6e6e6 0 1px 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

/* line 27, ../scss/_buttons.scss */
.btn:hover {
  -webkit-box-shadow: inset 0 1px 0 0 #e6e6e6;
  -moz-box-shadow: inset 0 1px 0 0 #e6e6e6;
  box-shadow: inset 0 1px 0 0 #e6e6e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d9d9d9), color-stop(70%, #b3b3b3));
  background-image: -webkit-linear-gradient(#d9d9d9, #b3b3b3 70%);
  background-image: -moz-linear-gradient(#d9d9d9, #b3b3b3 70%);
  background-image: -o-linear-gradient(#d9d9d9, #b3b3b3 70%);
  background-image: -ms-linear-gradient(#d9d9d9, #b3b3b3 70%);
  background-image: linear-gradient(#d9d9d9, #b3b3b3 70%);
  color: #404040;
  text-decoration: none;
}

/* line 35, ../scss/_buttons.scss */
.btn:active {
  -webkit-box-shadow: #d1d1d1 0 1px 2px inset;
  -moz-box-shadow: #d1d1d1 0 1px 2px inset;
  box-shadow: #d1d1d1 0 1px 2px inset;
  color: #404040;
  text-decoration: none;
}

/* line 44, ../scss/_buttons.scss */
.btn.disabled, .btn[disabled] {
  opacity: 0.6;
  color: gray;
  background: #e6e6e6;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}

/* line 9, ../scss/_tables.scss */
table {
  max-width: 100%;
  background-color: white;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 19, ../scss/_tables.scss */
.table {
  width: 100%;
  margin-bottom: 12px;
}
/* line 24, ../scss/_tables.scss */
.table th,
.table td {
  line-height: 12px;
  text-align: left;
  vertical-align: top;
  border-style: #bfbfbf;
  border-width: 0.071em;
  padding: 0.28em;
}
/* line 30, ../scss/_tables.scss */
.table th {
  font-weight: bold;
}
/* line 34, ../scss/_tables.scss */
.table thead th {
  vertical-align: bottom;
}
/* line 43, ../scss/_tables.scss */
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}
/* line 47, ../scss/_tables.scss */
.table tbody + tbody {
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
}

/* line 61, ../scss/_tables.scss */
.table-condensed th,
.table-condensed td {
  padding: 2em 2.5em;
}

/* line 72, ../scss/_tables.scss */
.table-bordered {
  margin-top: -0.1em;
  border-style: solid;
  border-width: 0.071em;
  padding: -0.054em;
  border-color: #bfbfbf;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-left: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 83, ../scss/_tables.scss */
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #bfbfbf;
}
/* line 95, ../scss/_tables.scss */
.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
/* line 100, ../scss/_tables.scss */
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 104, ../scss/_tables.scss */
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 110, ../scss/_tables.scss */
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 115, ../scss/_tables.scss */
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 127, ../scss/_tables.scss */
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #e6e6e6;
}

/* line 140, ../scss/_tables.scss */
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #0099cc;
}

/* line 11, ../scss/_demo.scss */
.swatch {
  width: 100%;
  float: left;
  margin-right: 3.448%;
  display: inline;
  height: 96px;
}
/* line 17, ../scss/_demo.scss */
.swatch div {
  float: left;
  width: 25%;
  height: 100%;
}
/* line 23, ../scss/_demo.scss */
.swatch div span {
  display: block;
  width: 100%;
  height: 10px;
}

/* line 33, ../scss/_demo.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 40, ../scss/_demo.scss */
.swatch-base div:nth-child(1) {
  background-color: #e6e6e6;
}
/* line 44, ../scss/_demo.scss */
.swatch-base div:nth-child(1) span {
  background-color: #dadada;
}

/* line 50, ../scss/_demo.scss */
.swatch-base div:nth-child(2) {
  background-color: #ededed;
}
/* line 54, ../scss/_demo.scss */
.swatch-base div:nth-child(2) span {
  background-color: #e1e1e1;
}

/* line 60, ../scss/_demo.scss */
.swatch-base div:nth-child(3) {
  background-color: #b8b8b8;
}
/* line 64, ../scss/_demo.scss */
.swatch-base div:nth-child(3) span {
  background-color: #aeaeae;
}

/* line 70, ../scss/_demo.scss */
.swatch-base div:nth-child(4) {
  background-color: red;
}
/* line 74, ../scss/_demo.scss */
.swatch-base div:nth-child(4) span {
  background-color: #f20000;
}

/* line 84, ../scss/_demo.scss */
.comp-base div:nth-child(1) {
  background-color: red;
}
/* line 88, ../scss/_demo.scss */
.comp-base div:nth-child(1) span {
  background-color: #f20000;
}

/* line 94, ../scss/_demo.scss */
.comp-base div:nth-child(2) {
  background-color: cyan;
}
/* line 98, ../scss/_demo.scss */
.comp-base div:nth-child(2) span {
  background-color: #00f2f2;
}

/* line 104, ../scss/_demo.scss */
.comp-base div:nth-child(3) {
  background-color: #ff3333;
}
/* line 108, ../scss/_demo.scss */
.comp-base div:nth-child(3) span {
  background-color: #f23030;
}

/* line 114, ../scss/_demo.scss */
.comp-base div:nth-child(4) {
  background-color: #cc0000;
}
/* line 118, ../scss/_demo.scss */
.comp-base div:nth-child(4) span {
  background-color: #c10000;
}

/* line 127, ../scss/_demo.scss */
.info-base div:nth-child(1) {
  background-color: #4cb7db;
}
/* line 131, ../scss/_demo.scss */
.info-base div:nth-child(1) span {
  background-color: #48add0;
}

/* line 137, ../scss/_demo.scss */
.info-base div:nth-child(2) {
  background-color: #4c9fdb;
}
/* line 141, ../scss/_demo.scss */
.info-base div:nth-child(2) span {
  background-color: #4897d0;
}

/* line 147, ../scss/_demo.scss */
.info-base div:nth-child(3) {
  background-color: #4c87db;
}
/* line 151, ../scss/_demo.scss */
.info-base div:nth-child(3) span {
  background-color: #4880d0;
}

/* line 157, ../scss/_demo.scss */
.info-base div:nth-child(4) {
  background-color: #4c58db;
}
/* line 161, ../scss/_demo.scss */
.info-base div:nth-child(4) span {
  background-color: #4853d0;
}

/* line 171, ../scss/_demo.scss */
.error-base div:nth-child(1) {
  background-color: #db4c4c;
}
/* line 175, ../scss/_demo.scss */
.error-base div:nth-child(1) span {
  background-color: #d04848;
}

/* line 181, ../scss/_demo.scss */
.error-base div:nth-child(2) {
  background-color: #d05757;
}
/* line 185, ../scss/_demo.scss */
.error-base div:nth-child(2) span {
  background-color: #c55252;
}

/* line 191, ../scss/_demo.scss */
.error-base div:nth-child(3) {
  background-color: #c56262;
}
/* line 195, ../scss/_demo.scss */
.error-base div:nth-child(3) span {
  background-color: #bb5d5d;
}

/* line 201, ../scss/_demo.scss */
.error-base div:nth-child(4) {
  background-color: #bb6c6c;
}
/* line 205, ../scss/_demo.scss */
.error-base div:nth-child(4) span {
  background-color: #b16666;
}

/* line 214, ../scss/_demo.scss */
.success-base div:nth-child(1) {
  background-color: #4cdb4c;
}
/* line 218, ../scss/_demo.scss */
.success-base div:nth-child(1) span {
  background-color: #48d048;
}

/* line 224, ../scss/_demo.scss */
.success-base div:nth-child(2) {
  background-color: #41e641;
}
/* line 228, ../scss/_demo.scss */
.success-base div:nth-child(2) span {
  background-color: #3dda3d;
}

/* line 234, ../scss/_demo.scss */
.success-base div:nth-child(3) {
  background-color: #36f136;
}
/* line 238, ../scss/_demo.scss */
.success-base div:nth-child(3) span {
  background-color: #33e433;
}

/* line 244, ../scss/_demo.scss */
.success-base div:nth-child(4) {
  background-color: #2cfb2c;
}
/* line 248, ../scss/_demo.scss */
.success-base div:nth-child(4) span {
  background-color: #29ee29;
}

/* line 258, ../scss/_demo.scss */
.warning-base div:nth-child(1) {
  background-color: #ffdb4c;
}
/* line 262, ../scss/_demo.scss */
.warning-base div:nth-child(1) span {
  background-color: #f2d048;
}

/* line 268, ../scss/_demo.scss */
.warning-base div:nth-child(2) {
  background-color: #ffea4c;
}
/* line 272, ../scss/_demo.scss */
.warning-base div:nth-child(2) span {
  background-color: #f2de48;
}

/* line 278, ../scss/_demo.scss */
.warning-base div:nth-child(3) {
  background-color: #fff94c;
}
/* line 282, ../scss/_demo.scss */
.warning-base div:nth-child(3) span {
  background-color: #f2ec48;
}

/* line 288, ../scss/_demo.scss */
.warning-base div:nth-child(4) {
  background-color: #f6ff4c;
}
/* line 292, ../scss/_demo.scss */
.warning-base div:nth-child(4) span {
  background-color: #e9f248;
}
